<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
  </welcome-file-list>
  
  <!--一个servlet可以对应多个servlet-mapping  -->
  <servlet>
    <description>登录请求</description>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.HM.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.HM.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>前台员工信息查看</description>
    <display-name>FICServlet</display-name>
    <servlet-name>FICServlet</servlet-name>
    <servlet-class>com.HM.servlet.FICServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FICServlet</servlet-name>
    <url-pattern>/FICServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加前台员工信息</description>
    <servlet-name>FIIServlet</servlet-name>
    <servlet-class>com.HM.servlet.FIIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FIIServlet</servlet-name>
    <url-pattern>/Finsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>客房信息查看</description>
    <display-name>RICServlet</display-name>
    <servlet-name>RICServlet</servlet-name>
    <servlet-class>com.HM.servlet.RICServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RICServlet</servlet-name>
    <url-pattern>/RICServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加客房信息</description>
    <servlet-name>RIIServlet</servlet-name>
    <servlet-class>com.HM.servlet.RIIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RIIServlet</servlet-name>
    <url-pattern>/Rinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>返回可选择的房间号</description>
    <servlet-name>ReturnRno</servlet-name>
    <servlet-class>com.HM.servlet.ReturnRno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnRno</servlet-name>
    <url-pattern>/selectdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除前台操作员信息</description>
    <display-name>deleteFIServlet</display-name>
    <servlet-name>deleteFIServlet</servlet-name>
    <servlet-class>com.HM.servlet.deleteFIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteFIServlet</servlet-name>
    <url-pattern>/deleteFI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>更新前台操作员密码</description>
    <display-name>updateFIServlet</display-name>
    <servlet-name>updateFIServlet</servlet-name>
    <servlet-class>com.HM.servlet.updateFIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateFIServlet</servlet-name>
    <url-pattern>/updateFI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除房间信息</description>
    <display-name>deleteRIServlet</display-name>
    <servlet-name>deleteRIServlet</servlet-name>
    <servlet-class>com.HM.servlet.deleteRIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteRIServlet</servlet-name>
    <url-pattern>/deleteRI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改房间信息</description>
    <display-name>updateRIServlet</display-name>
    <servlet-name>updateRIServlet</servlet-name>
    <servlet-class>com.HM.servlet.updateRIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateRIServlet</servlet-name>
    <url-pattern>/updateRI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>选择房间号</description>
    <display-name>reserveServlet</display-name>
    <servlet-name>reserveServlet</servlet-name>
    <servlet-class>com.HM.servlet.reserveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reserveServlet</servlet-name>
    <url-pattern>/reserveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查看预约表</description>
    <display-name>RRCServlet</display-name>
    <servlet-name>RRCServlet</servlet-name>
    <servlet-class>com.HM.servlet.RRCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RRCServlet</servlet-name>
    <url-pattern>/RRCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除预约</description>
    <display-name>deleteReserve</display-name>
    <servlet-name>deleteReserve</servlet-name>
    <servlet-class>com.HM.servlet.deleteReserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteReserve</servlet-name>
    <url-pattern>/deleteReserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>入住登记</description>
    <display-name>checkinServlet</display-name>
    <servlet-name>checkinServlet</servlet-name>
    <servlet-class>com.HM.servlet.checkinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkinServlet</servlet-name>
    <url-pattern>/checkinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectByname</display-name>
    <servlet-name>selectByname</servlet-name>
    <servlet-class>com.HM.servlet.selectByname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectByname</servlet-name>
    <url-pattern>/selectByname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectByidcard</display-name>
    <servlet-name>selectByidcard</servlet-name>
    <servlet-class>com.HM.servlet.selectByidcard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectByidcard</servlet-name>
    <url-pattern>/selectByidcard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectByphone</display-name>
    <servlet-name>selectByphone</servlet-name>
    <servlet-class>com.HM.servlet.selectByphone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectByphone</servlet-name>
    <url-pattern>/selectBypbone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectByemail</display-name>
    <servlet-name>selectByemail</servlet-name>
    <servlet-class>com.HM.servlet.selectByemail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectByemail</servlet-name>
    <url-pattern>/selectByemail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectByrno</display-name>
    <servlet-name>selectByrno</servlet-name>
    <servlet-class>com.HM.servlet.selectByrno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectByrno</servlet-name>
    <url-pattern>/selectByrno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkoutServlet</display-name>
    <servlet-name>checkoutServlet</servlet-name>
    <servlet-class>com.HM.servlet.checkoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkoutServlet</servlet-name>
    <url-pattern>/checkoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectcheckoutServlet</display-name>
    <servlet-name>selectcheckoutServlet</servlet-name>
    <servlet-class>com.HM.servlet.selectcheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectcheckoutServlet</servlet-name>
    <url-pattern>/selectcheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectFormServlet</display-name>
    <servlet-name>selectFormServlet</servlet-name>
    <servlet-class>com.HM.servlet.selectFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectFormServlet</servlet-name>
    <url-pattern>/selectFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>roomArrangeServlet</display-name>
    <servlet-name>roomArrangeServlet</servlet-name>
    <servlet-class>com.HM.servlet.roomArrangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roomArrangeServlet</servlet-name>
    <url-pattern>/roomArrangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectBylastname</display-name>
    <servlet-name>selectBylastname</servlet-name>
    <servlet-class>com.HM.servlet.selectBylastname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectBylastname</servlet-name>
    <url-pattern>/selectBylastname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FICBylastnameServlet</display-name>
    <servlet-name>FICBylastnameServlet</servlet-name>
    <servlet-class>com.HM.servlet.FICBylastnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FICBylastnameServlet</servlet-name>
    <url-pattern>/FICBylastnameServlet</url-pattern>
  </servlet-mapping>
</web-app>